:root

.main-header{
    border-bottom: 1px solid #e7e9fc;
    display: flex; 
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation{
    display: flex;
    align-items: center;
    margin-right: 76px;
}


.menu{
    display: flex;
    gap: 40px;
}

.menu-item{
    padding: 24px 0;
}


.main-body{
    font-family:Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.link{
    text-decoration: none;
}

img{display:block;}

.logotype {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
color: #4d5ae5; 
text-transform: uppercase;
}


.logo-part{
   color:#2e2f42; 
}



.list{
    list-style: none;
    display: flex;
    gap: 40px
}

.main-address{
font-style: normal;
}


.menu-item :hover{
color: #404bbf;
}


.menu-item :focus{
    color: #404bbf;
    }


.menu-link{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}


.header-link{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}


.main-page-hero{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
line-height: 1.07;
color: #ffffff
}


.modal-btn{
background-color: #4D5AE5;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
padding: 16px 32px;
gap: 10px;
cursor: pointer;
}


.small-tittle{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}


.small-tittle-text{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}


.section-tittle{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}


.sec-main{
    background-color: #2e2f42;
}


.modal-btn:hover{
    background-color: #404bbf;
}

.modal-btn:focus{
    background-color: #404bbf;
}


.team-sec{
    background-color: #F4F4FD;
}


.team-tittle{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}


/* .team-subTittle{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2e2f42;
} */


.team-description{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}


.list-item{
    background-color: #FFFFFF;
}


.footer-sec{
    background-color: #2E2F42;
}


.footer-desc{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
}


.logo-part-footer{
    color: #f4f4fd;
}


.portfolio-body{
    font-family: "Roboto", sans-serif;
    color: #434455;
}


.sec-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}


.sec-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
  }
  
  .sec-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
  }



.footer-text{
    color: #F4F4FD;
}


.tittle-main-port{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.par-main-port{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}